*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
main{
    background: linear-gradient(130deg,#20d47a,#21d87d);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: rgba(424,344,345,0.2);
    border-radius: 10px;
    padding:20px;
    text-align: center;
    color: #fff;
}
.num-box{
    margin: 20px;
    padding: 10px;
    width: 150px;
    outline: none;
    border: none;
}
.guess-btn,.restart-btn{
    margin-bottom: 10px;
    padding: 5px 10px;
    border:none;
    outline:none;
    border-radius: 5px;
    cursor: pointer;
}
p{
    margin-bottom: 10px;
}
.restart-btn{
    margin-left: 350px;
}

.wrong{
    border: 1px solid red;
}
.true {
    border:1px solid yellow;
}